<div class="page-container">
  <h1 class="basics-header">Credit Scores and Credit Building</h1>

  <!-- Content Body -->
  <div class="text-container">
    <h2>What is YOUR credit and how to make it grow.</h2>
    <p>Credit is a numerical representation of a kind of trust that indicates your ability to borrow money, or go into debt, and be able to pay it back. People who lend or give you money such as banks and insurers may look at your credit when deciding what interest rates or premiums to offer. If you have low credit, you may find it much more expensive to borrow money, get a loan or credit card, or rent an apartment. Yes, even some landlords look at your credit when deciding who to rent to.</p>
    <h2>So how do you improve YOUR credit?</h2>
    <p>Credit is built over time simply by being able to pay back all of your debts on time. If you have a credit card or pay your rent on time you may already be building credit right now! The easiest way to build your credit is probably to get a credit card and remember to always pay your bills on time if you can.</p>
    <h2>Challenges:</h2>
    <p>Credit is one of those things where the odds are that no one will notice when its good but having bad credit can have serious consequences. Sometimes stuff happens and your credit score may not be very good. You can and should raise it over time given you have the money to keep yourself out of debt. And being young or in school gives you more time and opportunities to recover from debts or bad credit</p>
  </div>  
    
  <!-- Mark Task as Done Button -->
  {{> components/buttons/mark-done-button taskID="5" taskType="basic" button-text="Mark as done"}}
  
</div>