<div class="page-container">
  <h1 class="basics-header">Intro to Investing</h1>
  <p>Summary</p>

  <h2> How to Invest</h2>

  <h2>Equities</h2>

  <h2>Cryptocurrency</h2>

     <!-- Mark Task as Done Button -->
    {{> components/buttons/mark-done-button taskID="6" taskType="basic"}}


</div>