<div class="page-container">
  <h1 class="basics-header">Understanding Net Worth</h1>
  <p>Summary</p>

  <h2>Calculating Your Net Worth</h2>
  <p></p>
  <p></p>
  <p></p>

    <p>Inline math: \( a^2 + b^2 = c^2 \)</p>
  <p>Block math:</p>
  \[ \int_{a}^{b} x^2 \, dx \]


     <!-- Mark Task as Done Button -->
    {{> components/buttons/mark-done-button taskID="1" taskType="basic"}}


</div>