<div class="page-container">
  <h1 class="basics-header">Understanding Net Worth</h1>
  <p>Summary</p>

  <h2>Calculating Your Net Worth</h2>
  <p>As you move on in your career and financial life you may eventually find yourself buying some big things like a house, or a car, and making some big investments. You might also find yourself accumulating and paying off debt such as student loans or credit cards. Net worth Wnet is a good way of keeping track of your final balance so to speak. Where you find yourself after adding up all of your assets and valuables and subtracting all of your debts and liabilities.</p>
  
  \[ W_{\text{net}} = \textit{assets} - \textit{debts} \]
  
  <p>For example, you may buy a $500k house with a $450k mortgage. You own the house so you can add its market value of $500k to your assets, but that mortgage is a debt that you still owe and must pay off. Thus, your net worth from that house is $50k. As you pay off that mortgage your debt decreases, which increases your net worth by the same amount. The same can be said about your 401k or other retirement account. Any and all savings, investments or other assets, liquid or not, will count toward your net worth.</p>
  <p>You can also use these assets to take out a loan. If you do this you will often use an asset such as your house as collateral which can be seized if you can’t pay up on your loan repayments. The main benefit of taking this risk is you can have access to funds needed (e.g. for a business, or other temporary expenditure) without selling off your assets.</p>
    
  <!-- Mark Task as Done Button -->
  {{> components/buttons/mark-done-button taskID="1" taskType="basic"}}

</div>