<div class="page-container">
  <h1 class="basics-header">Paychecks: What Are All These Deductions?</h1>
  <p>Summary</p>


     <!-- Mark Task as Done Button -->
    {{> components/articles/completion-button taskID="7" taskType="basic"}}


</div>