<div class="page-container">
  <h1 class="basics-header">Insurance 101</h1>

  <!-- Content Body -->
  <div class="text-container">
    <h2>Header</h2>
    <p>Some Text</p>
  </div>  
    
  <!-- Mark Task as Done Button -->
  {{> components/buttons/mark-done-button taskID="2" taskType="basic" button-text="Mark as done"}}
  
</div>