<div class="page-container">
  <h1 class="basics-header">Growing Your Tree</h1>

  <!-- Content Body -->
  <div class="text-container">
    <h2>Your Finances</h2>
    <p>Navigating your finances can be a struggle in these ever changing times, but here at Grow Your STEM, we believe that it doesn't have to be, you just need to grow your own tree. We know that games and points are great, but nothing beats putting it all to use.</p>

    <h2>The Roots</h2>
    <p>At the base of your tree, providing support and nourishment for your finances and life, are the roots. They provide a stable foundation to garuntee your comfort and retirement. In terms of your finances, this includes your job, a simple retirement fund, and a high yield savings account. These are all simple, reliable investments for the future that increase your money over time and where the earlier you get one, the greater the benefit. These will ensure security and comfort for years to come. You can learn more about retirement accounts elsewhere on our site.</p>
    
    <h2>The Trunk</h2>
    <p>The trunk will carry the money you get from the roots throughout the entire tree, allowing for vitality and strength of your portfolio. These include simple investments, like United States treasury bonds, which are incredibly secure and risk-free, or a house which will almost always increase in price. Investments like these will harden the tree and allow it to grow continually in a nearly risk-free manner.</p>

    <h2>The Leaves</h2>
    <p>The leaves are the riskiest part, coming and going every season and drawing a ton of energy, but if you can get them right, they'll skyrocket your portfolio. For this tier, we have stocks, options, collectibles and commodities, corporations, etc. These have the potential to drain life from the rest of the tree if you aren't smart with your investments, but if you are, they will go a long way towards increasing your assets for the rest of your life.</p>
  </div>  
    
  <!-- Mark Task as Done Button -->
  {{> components/buttons/mark-done-button taskID="9" taskType="basic" button-text="Mark as done"}}
  
</div>