.checklist-container {
  position: fixed; /* Fix the checklist to the viewport */
  top: 95px; /* Position it 20px from the top */
  right: 50px; /* Position it 20px from the right */
  background-color: var(--lightw);
  max-width: 300px;
  padding: 20px;
  border: 1px solid var(--warm);
  border-radius: 4px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.checklist-content input[type="checkbox"] {
  appearance: auto; /* Ensure the default checkbox styling is applied */
  margin-top: 5px;
  margin-right: 8px;

}

.checklist-content label {
  display: flex; /* Align checkbox and text on the same line */
  line-height: 1.5; /* Ensure consistent spacing for multi-line text */
  word-wrap: break-word; /* Allow text to wrap if it overflows */
}

