footer {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
	background-color: hsl(251, 55%, 12%);
	color: white;
	padding: 25px 20px;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index: 1000;
	border-top: 1px solid #e9ecef;
}

.upper-footer-container {
	height: fit-content;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer-information-container {
	width: 50%;
}

.footer-contact-us-container {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}