/* Postion and stylize the nav bar for when it is fixed to the top and scrolls*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust as needed */
}

#navigation-bar-container {
    background-color: var(--darkw);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically center all items */
    justify-content: space-between; /* Distribute space between items */
}

/* Ensure the container with the toggler and branding is displayed in a row */
.container-fluid > div {
    display: flex;
    align-items: center; /* Vertically center items */
}

/********************** Left Side **********************/

/*********** Branding Section ***********/
.branding {
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically center the logo */
    margin-right: 30px; /* Remove extra margin */
    cursor: pointer;
    width: 200px;
    transition: transform 0.1s ease-in-out; /* Smooth transition effect */
}

.branding:hover {
    transform: scale(1.1); /* Scale up the branding slightly */
}

.logo {   
    margin-right: 3px;
    max-height: 32px;
} 

.wordmark {
    font-family: 'Redline'; /* Use the custom font */
    font-size: 20px;
    color: var(--lightc);
    max-height: 32px;
    min-width: 200px;
    align-items: center; /* Vertically center the logo */
    padding-top: 0px;
    margin-right: 10px;
}

.wordmark:hover {
    text-decoration: none; /* Remove underline on hover */
    color: var(--cool);
}



/*********** Sub-Menu Section ***********/

li {
    cursor: pointer;
    font-family: "MontBold";
}

/********************** Right Side **********************/

#take-quiz-button {
    font-size: 13px;
    color: var(--lightw);
    background-color: var(--cool);
    border: 2px solid var(--darkc);
    font-family: "MontBold";
}

#user-profile-button {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: width 0.3s ease-in-out; /* Adding transition for smooth effect */
}

#user-profile-button:hover {
    width: 30px;
}
