/* Postion and stylize the nav bar for when it is fixed to the top and scrolls*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust as needed */
}

#navigation-bar-container {
    background-color: hsl(251, 55%, 12%);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    margin: 20px 10px;
    display: flex;
    border-radius: 8px;
}

.logo {
    margin-right: 10px;
}
