<div class="page-container">

  <div class="article-page-container">
    
    <!-- Container for the article -->
    <div class="article-container">

      <!-- Header and Title -->
      <div class="article-header-container">
        <div class="article-title-container">
          <h1>Title</h1>
        </div>
      
        <div class="article-meta">
          <p>Author: <a class="author-link" href="/articles/clay">Clay Kress</a></p>
          <p>Published on: 5/3/2025<p>
        </div>
      </div>

      <!-- Article Content -->
      <div class="article-content-container">

        <!-- Article Body -->
        <h2 class="article-inner-header">Header</h2>
        <p>At text passage</p>

        <!-- Works Cited Section -->
        <div class="works-cited">
          <h2 id="works-cited-header">Works Cited</h2>
          <p><b>[1]</b> A Primary Source</p> 
        </div>

      </div>
    </div>
    <!-- End of Article Container -->

    <!-- Mark Task as Done Button -->
    {{> components/buttons/mark-done-button taskID="6" taskType="article" button-text="Mark Article as Read"}}

  </div>

</div>