<div class="checklist-container">
    <div class="checklist-header">
        <h2>Checklist</h2>
    </div>
    <div class="checklist-content">
        <!-- Sub-header for "Read Articles" -->
        <h3>Read Articles</h3>
        <ul>
            <li><label><input type="checkbox" id="checkbox-1" disabled>Read Article "How Tariffs Work"</label></li>
            <li><label><input type="checkbox" id="checkbox-2" disabled>Read Article "Credit and Financing Options"</label></li>
        </ul>

        <!-- Sub-header for "Play Games" -->
        <h3>Play Games</h3>
        <ul>
            <li><label><input type="checkbox" id="checkbox-3" disabled>Check 3</label></li>
        </ul>

        <!-- Sub-header for another section -->
        <h3 id="quiz-list-header">Take Quiz</h3>
        <ul>
            <li><label><input type="checkbox" id="checkbox-4" disabled>Complete the Quiz</label></li>
        </ul>
    </div>
</div>
