<!-- HTML structure -->
<nav class="navbar navbar-expand-sm navbar-dark" id="navigation-bar-container">
  
	<div class="container-fluid justify-content align-items-center">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="branding" id="logo-container">
        <img class="logo" href="/" src="/img/branding/logo.svg" alt="Logo" >
        <a class="wordmark" href="/home">Grow Your STEM</a>
      </div>
    </div>

		<!-- Navigation Bar Sub-Menu Items -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0" id="navbar-list">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="articlesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
          <div class="dropdown-menu" aria-labelledby="articlesDropdown">
            <a class="dropdown-item" href="/articles/nathaniel">Nathaniel Beatty</a>
            <a class="dropdown-item" href="/articles/clay">Clay Kress</a>
            <a class="dropdown-item" href="/articles/lucas">Lucas Patenaude</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/lessons">Lessons</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/games">Games</a>
        </li>
        
      </ul>
    </div>

    <!-- Right Side of the Navigation Bar -->
    <div class="navbar-nav ml-auto">
      <button class="btn btn-primary" id="take-quiz-button" type="button" onclick="window.location.href='/quiz'">Take the Quiz</button>
      <div id="user-profile-button" class="user-icon">
        <img src="/img/navigation-bar/user-button.png" alt="Account" class="img-fluid">
      </div>
    </div>

	</div>
</nav>
