<!-- HTML structure -->
<nav class="navbar navbar-expand-sm navbar-dark" id="navigation-bar-container">
  
	<div class="container-fluid justify-content align-items-center">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="branding" id="logo-container">
        <img class="logo" href="/" src="/img/branding/logo.svg" alt="Logo" >
        <a class="wordmark" href="/home">Grow Your STEM</a>
      </div>
    </div>

		<!-- Navigation Bar Sub-Menu Items -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0" id="navbar-list">

        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/lessons">Lessons</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/games">Games</a>
        </li>
        
      </ul>
    </div>

	</div>
</nav>
