<div class="page-container">

  <div class="article-page-container">
    
    <!-- Container for the article -->
    <div class="article-container">

      <!-- Header and Title -->
      <div class="article-header-container">
        <div class="article-title-container">
          <h1>Why are Tech Stocks Falling</h1>
        </div>
      
        <div class="article-meta">
          <p>Author: <a class="author-link" href="/articles/nathaniel">Nathaniel Beatty</a></p>
          <p>Published on: 5/5/2025<p>
        </div>
      </div>

      <!-- Article Content -->
      <div class="article-content-container">

        <!-- Article Body -->
        <p>As Issac Newton once said in reference to stocks, “I can calculate the motion of heavenly bodies, but not the madness of people.” Trying to determine why the stock market behaves the way it does is near impossible, tantamount to trying to predict the outcome of the election every day, and getting it right more than a coin flip. Despite this, tech stocks have been on a severe decline over the last few months, with the drop off beginning even in the middle of January, long before any of the recent tariffs went into effect. The decline includes companies such as Nvidia, Apple, Microsoft, and a variety of other tech companies, so the question is, what is causing this?</p>

        <h2 class="article-inner-header">The Cause</h2>

        <p>First is Artificial Intelligence. Most of the companies that I have listed have placed more and more interest and faith in the development of AI, and in doing so, have shifted their focus and their message to shareholders. This originally demonstrated a large spike in their stock prices, but as AI stagnates, requires more and more energy to function, and the public perception of AI sours, it is slowly becoming less and less of a selling point for public investors.</p>

        <p>Then, of course, is the inauguration of the current administration and their promise of tariffs. Although I mentioned that the decline happened long before the tariffs, there is no getting around the fact that tariffs have been threatened for months beforehand. That, in combination with the actual implementation, helped drive tech stocks lower and lower in recent months.</p>

        <p>Finally, many of these companies are starting to resemble monopolies, and threats of corporate breakups are making investors weary. For example, Google may be forced to sell Chrome, and in doing so, would lose a large sector of their business.</p>
        
        <p>These reasons are all speculative, yet demonstrate how real news and public opinion may be affecting these tech stocks. Paying attention to news about the economy can help you predict this “madness of people,” helping you understand your finances and the world around you.</p>

        <!-- Works Cited Section -->
        <div class="works-cited">
          <h3 id="extra-sources-header">Sources</h3>
          <ul>
            <li>https://techhq.com/2025/03/will-the-ai-bubble-burst-when-will-artificial-intelligence-market-crash/</li>
            <li>https://www.pbs.org/newshour/economy/sp-500-sinks-as-tech-stocks-fall-amid-thickening-fog-of-trumps-trade-war</li>
            <li>https://www.justice.gov/archives/opa/pr/justice-department-sues-apple-monopolizing-smartphone-markets</li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Mark Task as Done Button -->
    {{> components/buttons/mark-done-button taskID="11" taskType="article" button-text="Mark Article as Read"}}

  </div>
</div>