<div class="page-container">

  <!---------------- Fundamentals Cards Container ------------------->
  <div class="content-container" id="basics-container">
    <h1 class="basics-header">Basics</h1>

    <div class="cards-container" id="basics-cards-container">
      {{#each basics}}
        {{> components/cards/image-header type="basics"}}
      {{/each}}
    </div>
  </div>

  <!---------------- Topics Container ------------------->
  <div class="content-container" id="topics-container">
    <h1 class="content-container-header">Topics</h1>
    <p>Explore various topics to enhance your knowledge.</p>

    <div class="cards-container" id="topics-cards-container">
      {{#each topics}}
        {{> components/cards/click-card taskID=@index+1 user=user type="topic"}}
      {{/each}}
    </div>

  </div>

</div>