<div class="page-container">

  <!---------------- Fundamentals Cards Container ------------------->
  <div class="content-container" id="basics-container">
    <h1 class="basics-header">Basics</h1>

    <div class="cards-container" id="basics-cards-container">
      
      <!-- Fundamental #1 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Understanding Net Worth" 
          link="/basics/net-worth" 
          image-path="/img/basics/net-worth.jpg" 
          image-alt="Understanding Net Worth Image"
      }}

      <!-- Fundamental #2 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Student Loans and Debt Hierarchies" 
          link="/basics/student-loans" 
          image-path="/img/basics/student-loans.jpg" 
          image-alt="Student Loans and Debt Hierarchies Image"
      }}

      <!-- Fundamental #3 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Budgeting That Doesn’t Suck (Seriously)" 
          link="/basics/budgeting" 
          image-path="/img/basics/budgeting.jpg" 
          image-alt="Budgeting That Doesn’t Suck Image"
      }}

      <!-- Fundamental #4 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Emergency Funds: The First $1K and Beyond" 
          link="/basics/emergency-funds" 
          image-path="/img/basics/emergency-funds.jpg" 
          image-alt="Emergency Funds Image"
      }}

      <!-- Fundamental #5 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Credit Scores and Credit Building" 
          link="/basics/credit-scores" 
          image-path="/img/basics/credit-scores.jpg" 
          image-alt="Credit Scores and Credit Building Image"
      }}

      <!-- Fundamental #6 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Intro to Investing: Roth IRAs and 401(k)s" 
          link="/basics/investing-intro" 
          image-path="/img/basics/investing-intro.jpg" 
          image-alt="Intro to Investing Image"
      }}

      <!-- Fundamental #7 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Paychecks: What Are All These Deductions?" 
          link="/basics/paychecks" 
          image-path="/img/basics/paychecks.jpg" 
          image-alt="Understanding Paychecks Image"
      }}

      <!-- Fundamental #8 -->
      {{> components/cards/image-header 
          type="basics" 
          title="Benefits Beyond Salary" 
          link="/basics/benefits" 
          image-path="/img/basics/benefits.jpg" 
          image-alt="Benefits Beyond Salary Image"
      }}

    </div>
  </div>



  <!---------------- Lessons Container ------------------->
  <div class="content-container" id="lessons-container">
    <h1 class="content-container-header">Lessons</h1>
    <p>Explore various lessons to enhance your knowledge.</p>
  </div>

</div>