<div class="page-container">

    <div class="content-container" id="games-container">
    <h1 class="games-header">Grow Your STEM Arcade</h1>
    <div class="cards-container">
      {{> components/card type="game" title="Universal Paperclips" summary="Learn the fundamentals of finance, including key concepts and terminology." link="https://www.decisionproblem.com/paperclips/index2.html" target="_blank" image-path="/img/games/universal-paperclips.jpg" image-alt="Finance Basics Image"}}
      {{> components/card type="game" title="Stock Market Simulator" summary="Understand the basic principles of economics and how they apply to real-world scenarios." link="" image-path="/img/basics/economics.jpg" image-alt="Economics Basics Image"}}
    </div>
  </div>

</div>