<div class="page-container">

      <h1 class="games-header">Grow Your STEM Arcade</h1>

      <!-- Universal Paperclips Container -->
      <div class="games-row" id="universal-paperclips-container">

        <div class="games-image" id="universal-paperclips-image">
          <img src="/img/games/universal-paperclips.jpg" alt="Universal Paperclips Image">
        </div>

        <div class="games-information">
          <h2 class="games-column-header">Universal Paperclips</h2>
          <div class="text-container">
            <p class="games-column-text">Learn how market dynamics quickly build into a complex system.</p>
          </div>
          {{> components/buttons/mark-done-button taskID="1" taskType="game" button-text="Play Now"}}
        </div>

      </div>

      <!-- Investopedia Simulator Container -->
      <div class="games-row" id="investopedia-simulator-container">

        <div class="games-information">
          <h2 class="games-column-header">Investopedia Simulator</h2>
          <div class="text-container">
            <p class="games-column-text">Learn the fundamentals of finance, including key concepts and terminology.</p>
          </div>
          {{> components/buttons/mark-done-button taskID="2" taskType="game" button-text="Play Now"}}
        </div>
        
        <div class="games-image" id="investopedia-simulator-image">
          <img src="/img/games/investopedia-simulator.jpg" alt="Universal Paperclips Image" >
        </div>

      </div>

</div>