<div class="page-container">

    <div class="content-container" id="games-container">
    <h1 class="games-header">Grow Your STEM Arcade</h1>
    <div class="cards-container">

      <!-- "Universal Paperclips" Game Card -->
      {{> components/cards/image-header 
        type="game"
        button-text="Play Now" 
        title="Universal Paperclips" 
        summary="Learn the fundamentals of finance, including key concepts and terminology." 
        link="https://www.decisionproblem.com/paperclips/index2.html" 
        target="_blank" 
        image-path="/img/games/universal-paperclips.jpg" 
        image-alt="Finance Basics Image"
      }}

      {{> components/cards/image-header 
        type="game" 
        title="Universal Paperclips" 
        summary="Learn the fundamentals of finance, including key concepts and terminology." 
        link="https://www.decisionproblem.com/paperclips/index2.html" 
        target="_blank" 
        image-path="/img/games/universal-paperclips.jpg" 
        image-alt="Finance Basics Image"
      }}

    </div>
  </div>

</div>