<div class="page-container">

	<!---------------- Container to hold cards ------------------->
	<div class="card-container" id="main-body">
		
		<!-- Card #1 -->
		{{> components/card title="How do Tariffs Work and Stuff?" author="Nathaniel Beatty" summary="An in-depth analysis on what the effects of current-day tarrifs look like" link="/articles/nathaniel/how-do-tariffs-work" image-path="/img/articles/Nathaniel/How-Do-Tariffs-Work.webp" image-alt="Sample Event Image"}}

		<!-- Card #2 -->
		{{> components/card title="Sample Event" author="Lucas"summary="This is a description of the event." link="..." image-path="..." image-alt="Sample Event Image"}}

		<!-- Card #3 -->	
		{{> components/card title="Sample Event" author="Clay"summary="This is a description of the event." link="..." image-path="..." image-alt="Sample Event Image"}}

	</div>
</div>