<div class="page-container">

	<!---------------- Introduction Container ------------------->
	<div class="text-container" id="introduction-container">
		<div id="custom-growing-your-stem-header-container">
			<h1>What is</h1><h1 class="redline" id="header-wordmark">Grow Your STEM</h1><h1>?</h1>
		</div>
		<p>We know times are uncertain, and the world is changing fast. For STEM students and recent grads, that uncertainty can feel especially sharp. The tech sector is shifting, new tariffs are reshaping global markets, and AI is rewriting the rules of employment faster than universities can keep up. In the middle of all this, you’re expected to make smart choices about your education, your career, and even your retirement—often without clear guidance.</p>
		<p>Growing Your STEM is here to help you navigate that landscape. We break down what’s happening in the economy—not in abstract charts, but in terms that matter for your life: what the latest tariffs mean for your job prospects, how to take advantage of education and tech-sector tax credits, and why starting an IRA now could change your future options. Whether you’re trying to decide if grad school is worth it, wondering how to shift your career path, or just looking to feel more financially grounded, this site is built with you in mind. Not just for understanding what’s next—but for preparing to shape it.</p>
	</div>

	<!---------------- Container to hold cards ------------------->
	<div class="content-container" id="articles-container">	
		<div class="content-container-header" id="articles-header">
			<h1>Articles</h1>
		</div>
		
		<div class="cards-container">
			{{> components/card type="article" title="How do Tariffs Work?" author="Nathaniel Beatty" summary="An in-depth analysis on what the effects of current-day tarrifs look like" link="/articles/nathaniel/how-do-tariffs-work" image-path="/img/articles/Nathaniel/How-Do-Tariffs-Work.webp" image-alt="Sample Event Image"}}
			{{> components/card type="article" title="Credit and Financing Options" author="Lucas Patenaude" summary="Navigating funding and credit options for education can be daunting. This article explores popular options for STEM majors" link="/articles/lucas/credit-and-financing-options" image-path="/img/articles/Lucas/Credit-and-Finance-Options.jpeg" image-alt="Sample Event Image"}}
			{{> components/card type="article" title="Retirement Accounts: How Do They Work?" author="Clay Kress" summary="Saving money at a young age can seem daunting but the benefits are far reaching" link="/articles/clay/retirement-accounts" image-path="/img/articles/Clay/Retirement-Accounts.jpg" image-alt="Sample Event Image"}}

			{{> components/card type="article" title="The US dollar as the global reserve currency." author="Clay Kress" summary="The United States holds a lot of power as the nation behind the global reserve currency, but what does it mean for us? What happens if we lose it?" link="/articles/Clay/global-reserve" image-path="/img/articles/Clay/Retirement-Accounts.jpg" image-alt="Sample Event Image"}}
		</div>
	</div>
	
</div>
</div>