<div class="page-container">

	<!---------------- Introduction Container ------------------->
	<div class="text-container" id="introduction-container">
		<div class="header-container" id="custom-growing-your-stem-header-container">
			<h1>What is</h1><h1 class="redline" id="header-wordmark">Grow Your STEM</h1><h1>?</h1>
		</div>
		<p>We know times are uncertain, and the world is changing fast. For STEM students and recent grads, that uncertainty can feel especially sharp. The tech sector is shifting, new tariffs are reshaping global markets, and AI is rewriting the rules of employment faster than universities can keep up. In the middle of all this, you’re expected to make smart choices about your education, your career, and even your retirement—often without clear guidance.</p>
		<p>Growing Your STEM is here to help you navigate that landscape. We break down what’s happening in the economy—not in abstract charts, but in terms that matter for your life: what the latest tariffs mean for your job prospects, how to take advantage of education and tech-sector tax credits, and why starting an IRA now could change your future options. Whether you’re trying to decide if grad school is worth it, wondering how to shift your career path, or just looking to feel more financially grounded, this site is built with you in mind. Not just for understanding what’s next—but for preparing to shape it.</p>
	</div>

	<!---------------- Article Cards Container ------------------->
	<div class="content-container" id="articles-container">	
		<div class="content-container-header" id="articles-header">
			<h1>Articles</h1>
		</div>
		
					<!--  If adding an article be sure to do the following:

				1. Add the article to the articles folder in the public/views/pages directory
				2. Add the article's routes to the routes.js file in the src/routes directory
				3. Add the article attributes (title, points) to database in '/src/routes/login-and-restrigation.js' under the POST '/register' route
			
			-->

		<div class="cards-container">			
			{{#if articles}}
        {{#each articles}}
					{{> components/card
						type="article"
						title=this.title
						author=this.author
						summary=this.summary
						link=this.link
						image-path=this.imagepath
						image-alt=this.imagealt
					}}
				{{/each}}
			{{else}}
				<p>No articles available at the moment.</p>
			{{/if}}
		</div>

	</div>
</div>