<div class="page-container">

	<!---------------- Container to hold cards ------------------->
	<div class="card-container" id="main-body">
		
		<!-- Card #1 -->
		{{> components/card card-title="Sample Event" card-text="This is a description of the event." link="/article" image-path="..." image-alt="Sample Event Image"}}

		<!-- Card #2 -->
		{{> components/card card-title="Sample Event" card-text="This is a description of the event." link="..." image-path="..." image-alt="Sample Event Image"}}

		<!-- Card #3 -->	
		{{> components/card card-title="Sample Event" card-text="This is a description of the event." link="..." image-path="..." image-alt="Sample Event Image"}}

	</div>
</div>