<div class="page-container">

	<!---------------- Container to hold cards ------------------->
	<div class="card-container" id="main-body">
		
		<!-- Card #1 -->
		{{> homepage/event-card title="Sample Event" text="This is a description of the event." }}

		<!-- Card #2 -->
		{{> homepage/event-card title="Sample Event" text="This is a description of the event." }}

		<!-- Card #3 -->	
		{{> homepage/event-card title="Sample Event" text="This is a description of the event." }}

	</div>
</div>