.article-page-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center */
  align-items: center;
  padding: 20px;
  flex-direction: column; /* Stack content vertically */
}

.article-container {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 60px;
  width: 8.5in;
  height: fit-content;
  background-color: var(--lightw);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.article-title-container {
  font-family: "MontBold";
}

.article-inner-header {
  font-family: "MontBold";
}



/* Works Cited Section */
.works-cited {
  word-wrap: break-word; /* Break long words to prevent overflow */
  overflow-wrap: break-word; /* Ensure text wraps within the container */
  max-width: 100%; /* Ensure the content stays within the container width */
  overflow: hidden; /* Prevent content from spilling out */
}

#works-cited-header, #extra-sources-header {
  font-family: "MontBold";
}

.works-cited ul {
  padding-left: 30px; /* Add padding to align the numbers */
  margin: 0; /* Remove default margin */
  list-style-type:circle; /* Use numbers for the list */
}

.works-cited li {
  margin-bottom: 10px; /* Add spacing between list items */
  line-height: 1.5; /* Improve readability */
  word-wrap: break-word; /* Prevent long URLs from overflowing */
  overflow-wrap: break-word; /* Ensure text wraps properly */
}
