.article-page-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center */
  align-items: center;
  padding: 20px;
  flex-direction: column; /* Stack content vertically */
}

.article-container {
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  padding: 20px;
  width: 8.5in;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

/*------------------- Article Read Button --------------------*/

.article-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}


.article-read-button {
  display: inline-block;
  margin: 10px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}