.article-page-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center */
  align-items: center;
  padding: 20px;
  flex-direction: column; /* Stack content vertically */
}

.article-container {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 60px;
  width: 8.5in;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

/*------------------- Article Read Button --------------------*/

.article-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}


.article-read-button {
  display: inline-block;
  margin: 40px;
  border: 3px solid rgb(11, 72, 11);
  background-color: rgb(2, 98, 2);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.article-read-button:hover {
  background-color: rgb(2, 74, 2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}