#calculator-container h1 {
  margin: 30px 0;
}

#calculator-container h2 {
  font-size: 28px;
  margin: 20px 0;
}

#finance-form {
  display: flex;
  flex-direction: column;
}

.calculator-label {
  display: block;
  margin-top: 1em;
}

.calculator-input, select {
  width: 45%;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0.3em;
  background-color: var(--lightw);
  border: 1px solid #ccc;
  border-radius: 10px;
  appearance: none; /* Remove default browser styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

select {
  max-width: 45%;
  background-color: var(--lightw);

}

#salary {
  margin-bottom: 20px;
}

#custom-salary {
  display: none;
  margin-bottom: 20px;
}

select:focus {
  outline: none; /* Remove default focus outline */
  border-color:         #007acc; /* Add a custom focus border color */
  box-shadow: 0 0 5px rgba(0, 122, 204, 0.5); /* Add a subtle focus shadow */
}

button {
  margin-top: 1.5em;
  padding: 10px 25px;
}

.result {
  margin-top: 2em;
  padding: 1em;
  background: var(--lightw);
  border: 3px solid var(--darkc);
  border-radius: 12px;
}