/********************** Introduction Container **********************/



#custom-growing-your-stem-header-container {
	display: flex;
	font-family: "MontBold";
}

.redline-header {
	font-family: "Redline";
	font-size: 43px;
	margin-left: 10px;
}

/********************** Card Container **********************/


.body-container-header {
	font-family: "MontBold";
}



