/********************** Introduction Container **********************/

.introduction-container {
	display: flex;
	flex-direction: column;
	background-color: var(--lightw);
	border-radius: 20px;
	padding:15px;
}

#custom-growing-your-stem-header-container {
	display: flex;
	font-family: "MontBold";
}

#growing-your-stem-home-custom {
	font-family: "Redline";
	font-size: 43px;
	margin-left: 10px;
}

/********************** Card Container **********************/


.body-container-header {
	font-family: "MontBold";
}



