<div class="account-portal-container" id="account-pane">
    <div id="account-pane-content-container">
        <div id="account-header-container">
            <a id="username">Hello, {{user.username}}</a>
            <div class="logout-container">
                <a id="logout-button" class="account-portal-button" href="/logout">Logout</a>
            </div>
        </div>
        <div id="account-objectives-container">
            <h1 class="portal-objectives-header">Your Objectives</h1>

            <!-- Objectives Section #1 -->
            <div class="account-objectives-container">
                <h2 class="portal-type-header">Your Objectives</h2>
                <ul>
                    <li><label><input type="checkbox" id="checkbox-1" disabled>Read Article "How Tariffs Work"</label></li>
                    <li><label><input type="checkbox" id="checkbox-2" disabled>Read Article "Credit and Financing Options"</label></li>
                    <li><label><input type="checkbox" id="checkbox-3" disabled>Read Article "Retirement Accounts"</label></li>
                </ul>
            </div>

            <!-- Objectives Section #2 -->
            <div class="account-objectives-container">
                <h2 class="portal-type-header">Your Objectives</h2>
            </div>

            <!-- Objectives Section #3 -->
            <div class="account-objectives-container">
                <h2 class="portal-type-header">Your Objectives</h2>
            </div>

            <!-- Objectives Section #4 -->
            <div class="account-objectives-container">
                <h2 class="portal-type-header">Your Objectives</h2>
            </div>

        </div>
    </div>
</div>
