<div class="account-portal-container" id="account-pane">
    <div id="account-pane-content-container">

        <div id="account-header-container">

            <div id="user-information-container">
                <a id="username">Hello, {{user.username}}</a>
                <p>STEM Score: {{user.score}}</p>
            </div>

            <div class="logout-container">
                <a id="logout-button" class="account-portal-button" href="/logout">Logout</a>
            </div>
        </div>

        <div id="account-objectives-container">

             <!-- Articles To-Do Section  -->
            <div class="objectives-container" id="top-objectives-container">
                <h2 class="objective-header">📖 Articles</h2>
                <ul>
                    <li><label><input type="checkbox" id="checkbox-1" disabled>Read Article "How Tariffs Work"</label></li>
                    <li><label><input type="checkbox" id="checkbox-2" disabled>Read Article "Credit and Financing Options"</label></li>
                    <li><label><input type="checkbox" id="checkbox-3" disabled>Read Article "Retirement Accounts"</label></li>
                </ul>
            </div>

            <!-- Lessons To-Do Section -->
            <div class="objectives-container">
                <h2 class="objective-header">🏆 Lessons</h2>
                <ul>
                    <li><label><input type="checkbox" id="checkbox-1" disabled>Click Fundamentals Button</label></li>
                </ul>
            </div>

            <!-- Games To-Do Section  -->
            <div class="objectives-container">
                <h2 class="objective-header">👾 Games</h2>
                <ul>
                    <li><label><input type="checkbox" id="checkbox-1" disabled>Play "Universal Paperclips</label></li>
                </ul>
            </div>

        </div>
    </div>
</div>
