<div class="account-portal-container" id="register-pane">

    <div class="form-container" id="register-form">
        <img id="account-portal-logo" src="/img/logo.png" style="width: 150px;">
        <h1 class="portal-type-header">Register</h1>

        <!-- Check if message variable is present to display message partial -->
        {{#if message}}
        {{> components/message}}
        {{/if}}

        <form action="/register" method="POST" class="mt-3">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
        </form>

        <!-- Submit Button -->
        <div class="account-submit-button-container">
            <button class="account-portal-button" id="register-submit" type="submit">Submit</button>
        </div>

        <!-- Link to Login Page -->
        <div class="portal-switch-link-container">
            <p>Already have an account? <a id="register-page-login-button" href="#">Login</a></p>
        </div>
    </div>
</div>