<!DOCTYPE html>
<html lang="en" class="h-100">

<body>
    <!-- Add your head content here -->
    {{> structure/head}}
    
    <!-- Add your navigation -->
    {{> structure/nav}}

    <!-- Add the checklist -->
    {{> structure/checklist}}

    <!-- Render the main content of each page -->
    {{{body}}}

    <!-- Add your footer -->
    {{> structure/footer}}
</body>
</html>