<!DOCTYPE html>
<html lang="en" class="h-100">

<body>
    <!-- Add your head content here -->
    {{> head}}
    
    <!-- Add your navigation -->
    {{> nav}}

    <!-- Render the main content of each page -->
    {{{body}}}

    <!-- Add your footer -->
    {{> footer}}
</body>
</html>