/********************** Color Palette **********************/

:root {
    --darkw: rgb(254, 93, 38);
    --warm: rgb(242, 192, 120);
    --lightw: rgb(250, 237, 202);
    --lightc: rgb(193, 219, 179);
    --cool: rgb(126, 188, 137);
    --darkc: rgb(65, 127, 84);
    
  }

/********************** Universal Styles **********************/

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

html, body {
    height: 100%; /* Ensure the page fills the viewport height */
    width: 100%; /* Ensure the page fills the viewport width */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100%; /* Prevent shrinking below the viewport height */
    background-color: var(--lightc) !important; /* Use !important to override Bootstrap */
}

.header-container {
    font-family: "MontBold";
}

.page-container {
    flex: 1; /* Allow the main content to grow and fill available space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    margin-top: 40px;
    margin-left: 125px;
    margin-right: 140px;
    justify-content: flex-start; /* Align content at the top */
    position: relative; /* Ensure it has a position context */
    min-height: fit-content; /* Respect the minimum height of the content */
    padding-bottom: 100px; /* Add space for the footer */
    box-sizing: border-box; /* Include padding in height calculations */
    font-family: "Roboto";
    color: var(--darkc);
    background-color: var(--lightc);
}

.text-container {
	display: flex;
	flex-direction: column;
	background-color: var(--lightw);
	border-radius: 20px;
	padding:20px;
}

/********************** Text Structuring **********************/

.page-header-1 {
    margin: 20px 0;
}

.page-header-2 {
font-size: 28px;
    margin-top: 40px;
}

/********************** Components **********************/



/********************** Custom Fonts **********************/

.redline {
    font-family: "Redline";
}

/* Add logo font face */
@font-face {
    font-family: 'Redline';
    src: url('../../fonts/Redline/redline.woff2') format('woff2'),
         url('../../fonts/Redline/redline.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/RobotoSlab-VariableFont_wght.woff2') format('woff2'),
         url('../../fonts/Roboto/RobotoSlab-VariableFont_wght.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MontBold';
    src: url('../../fonts/Montserrat/MontserratAlternates-SemiBold.woff2') format('woff2'),
         url('../../fonts/Montserrat/MontserratAlternates-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MontReg';
    src: url('../../fonts/Montserrat/MontserratAlternates-Regular.woff2') format('woff2')
         url('../../fonts/Montserrat/MontserratAlternates-Regular.woff') format('woff');
    font-display: swap;
}
