/*********** Article Card Stylization ***********/

#article-card {
  min-height: 200px;
  min-width: 300px;
}

/*********** Basics Card Stylization ***********/

#basics-card {
  min-height: 300px;
  width: 300px;
}

/*********** Games Card Stylization ***********/

#game-card {
  min-height: 400px;
  width: 400px;
}