/*********** Article Card Stylization ***********/

#article-card {
  min-height: 470px;
  max-height: 470px;
  min-width: 320px;
  max-width: 320px;
  
}

#article-card-button {
  padding: 8px 12px;
}

/*********** Basics Card Stylization ***********/

#basics-card {
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

#basics-card-button {
  padding: 8px 12px;
}

/*********** Games Card Stylization ***********/

#game-card {
  min-height: 400px;
  max-width: 400px;
}

#game-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Push the button to the bottom of the card body */
}

#game-card-button {
  padding: 8px 32px;
}