.card {
	padding: 20px 10px;
	margin: 20px;
	height: fit-content;
	width: 300px;
	margin: 10px;
	border: 1px solid #979696;
	position: relative; /* Ensure cards have a position context */
	z-index: 1; /* Lower z-index than team-wheel */
}

.card h1 {
	font-size: 20px;
	margin: 0;
}

.card h2 {
	font-size: 16px;
	margin: 5px 0;
}