.card {
    min-height: 475px;
    width: 300px;
	border: 1px solid var(--darkc);
	border-radius: 20px;
    position: relative; /* Ensure cards have a position context */
    z-index: 1; /* Lower z-index than team-wheel */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack content vertically */
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Push the button to the bottom */
    flex-grow: 1; /* Allow the body to grow and fill available space */
}

.card img {
    height: 150px;
}

.card-article-title,
.card-article-summary {
    margin-bottom: 5px; /* Add spacing between elements */
}

.card-article-title {
    font-family: "MontBold";
}

.card-article-author {
    margin-bottom: 15px; /* Add spacing between elements */
}

#click-to-read {
    margin-top: auto; /* Push the button to the bottom of the card body */
    align-self: flex-start; /* Align the button to the left */
	background-color: var(--darkc);
	color: var(--lightc);
	border: 1px solid var(--darkc);
}

#click-to-read:hover {
	background-color: var(--cool);
	border: 1px solid var(--darkw);
	box-shadow: 0 0 5px #979696;
	cursor: pointer;
}

.card h1 {
    font-size: 20px;
}

.card h2 {
    font-size: 16px;
}