.stock-card {
  height: 80px;
  color: white;
  padding: 2px 4px;
  background-color: rgb(34, 9, 56);
  border: 1px solid #979696;
  border-radius: 8px;
  font-size: 8px;
  display: flex;
  min-width: 120px;
  flex-direction: column;
  align-items: flex-start; /* Ensure content aligns to the left */
  justify-content: flex-start; /* Ensure content aligns to the top */
}

.stock-card-header-container {
  display: flex;
  height: 25%;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start; /* Align items to the left */
  width: 100%; /* Ensure it spans the full width */
}

.stock-card-ticker {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Remove any unnecessary margins */
}

.stock-card-body {
  display: flex;
  height: 75%;
  flex-direction: column; /* Stack content inside the body vertically */
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align content to the top */
}