<div class="page-container">

    <h1 class="page-header-1">Articles by {{authorName}}</h1>  
    <div class="cards-container">
        {{#each articles}}
            {{> components/cards/image-header type="article"}}
        {{/each}}
    </div>

</div>