<div class="card" id="{{type}}-card">
    <div class="card-body">
        <h1 class="card-article-title">{{title}}</h1>
        <p class="card-article-summary">{{summary}}</p>

       {{> components/buttons/topic-button button-text=buttontext}} 
    
    </div>
</div>