<!-- HTML structure -->
<nav class="navigation-bar-body">
	<h1><a href="/">Grow Your STEM</a></h1>
	<ul class="nav-list">
		<li><a href="/blog">Blog</a></li>
		<li><a href="/lessons">Lessons</a></li>
		<li><a href="/games">Games</a></li>
</nav>