<div class="article-page-container">
  
  <!-- Container for the article -->
  <div class="article-container">

    <!-- Header and Title -->
    <div class="article-header-container"></div>
      <div class="article-title-container">
        <h1> Understanding Equities</h1>
      </div>

      <div class="article-meta">
        <p>Published on: 4/23/2025<p>
        <p>Author: Lucas Patenaude</p>
      </div>
    </div>

    <!-- Article Content -->
    <div class="article-content-container">

      <!-- Article Image -->
      <div class="article-image">
        
      </div>

      <!-- Article Body -->
      <p>Some content here</p>
    
    </div>

</div>